# Archivos de compilación y temporales
/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
**/doc/api/

# Archivos de logs y temporales
*.log
*.tmp
*.swp
.DS_Store

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/

# iOS
**/ios/Flutter/.last_build_id
ios/Runner/GeneratedPluginRegistrant.*
ios/Runner/GoogleService-Info.plist

# Android
android/app/google-services.json

# Web
web/firebase-messaging-sw.js

# Mapas y símbolos
app.*.symbols
app.*.map.json

# Otros
*.class
*.pyc
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
